* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.column {
	display: inline-block;
	margin: 0 5px;
	vertical-align: top;
}

.cupcake.active {
	margin-bottom: 10px;
	font-size: 15px;
	transition: height .5s;
	height: 30px;
}

.cupcake {
	font-size: 0px;
	height: 0px;
	transition: height .5s;
}

.hidden {
	display:none;
}

.highlight {
	background-color: gainsboro;
	font-size: 20px;
	transition: all .5s;
	height: auto;
	padding: 5px;
	border: solid 5px gray;
}

.edit-box {
	font-size: 14px;
}
.edit {
	display: inline-block;
	width: 200px;
}

.close {
	font-family: Tahoma;
	color: maroon;
	font-size: 12px;
	vertical-align: top;
	float:right;
}

.submit, .new-submit {
	background-color: darkgray;
	padding: 3px;
	color: white;
	font-weight: bold;
	
}

.delete {
	display: inline-block;
	padding: 5px;
	background-color: black;
	color: red;
	width: 60px;
	float: right;
}